.work {
    width: 50%;
    margin: auto;
    /* text-align: center; */
    padding: 2rem;
}

.work h1 {
    padding: 1rem;
    text-align: center;
}
.skill img {
    width: 20rem;
    height: 15rem;
    margin-bottom: 10px;
}

.skill h2 {
    padding: 1rem ;
}

@media (max-width:720px){
    .work{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}