header {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 100%;
    padding: 0 2rem;
    background-color:var(--background-color-primary);
    box-shadow: 4px 6px 12px rgb(212, 206, 206);
    display: flex;
    gap: 3rem;
    align-items: center;
    z-index: 1;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-secondry);
}

.logo img {
    width: 10rem;
    height: 100%;
}

.menu {
    position: relative;
    display: flex;
    z-index: 10;
}

.link {
    list-style: none;
    position: relative;

}

.link a {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;

}

a b {
    padding: 0 0.5rem;
}
.submenu {
    position: absolute;
    left: 0;
    top: 2.7rem;
    min-width: 200px;
    background-color:var(--background-color-primary);
    border-top: 2px solid skyblue;
    display: none;
    z-index: 10;
}

.link:hover .submenu {
    display: block;
}

.submenu li:hover .nested-submenu {
    display: block;
}



.link:not(:hover) .submenu {
    display: block;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.sublink {
    position: relative;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}
.submenu li a {
    font-weight: 300;
}

.nested-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    background-color:var(--background-color-primary);
    border-top: 2px solid skyblue;
    display: none;
    z-index: 1;
}

.nested-sublink {
    position: relative;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

/*    MEDIA QUERY */

@media (max-width:720px) {

    header {
        padding: 0;
        /* display: block; */
        flex-direction: column;
       align-items: flex-start;
       gap: 0;
    }

    .logo img {
        width: 8rem;
    }

    .navbar {
        position: relative;
        width: 100%;
        left: 0;
        display: none;
    }

    .menu {
        position: relative;
        display: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .link {
        width: 100%;
        border-top: 1px solid rgba(191, 184, 184, 0.438);
    }

    .link:not(:hover) .submenu {
        display: none
    }

    .link a {
        padding: 0.3rem 1rem;
    }

    a b {
        transform: rotate(360deg);
        font-size: 12px;
    }

    .submenu {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        padding: 0;
        border-top: none;
    }

    .sublink {
        padding: 0;
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    }

    .sublink a {
        font-size: medium;
        color: rgba(0, 0, 0, 0.604);
    }

    .nested-submenu {
        position: relative;
        width: 100%;
        left: 0;
        border-top: none;
    }

    .nested-sublink {
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);
        padding: 0;
    }

    .togglemenu {
        position: absolute;
        right: 1rem;
        top: 100%;
        width: 40px;
        cursor: pointer;
        z-index: 10;
    }

    .togglemenu::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 3px;
        cursor: pointer;
        background-color: black;
        transform: translateY(-38px);
        box-shadow: 0 10px black;
    }

    .togglemenu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        cursor: pointer;
        background-color: black;
        transform: translateY(-18px);
    }

    .togglemenu.active::before {
        transform: rotate(45deg);
        box-shadow: 0 0 black;
    }

    .togglemenu.active::after {
        transform: rotate(315deg);
    }
    .togglemenu.active {
        position: absolute;
        top: 1.5rem;
    }

    .navbar.active {
        display: initial;
    }
}