*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  margin: 0;
  padding: 0;

}

body {
  background-color:var(--background-color-primary);
  color: var(--color-secondry);
  font-family:serif;
  padding: 0;
}

:root{
--background-color-primary:rgb(255, 255, 255);
--color-primary:rgb(0, 0, 0);
--color-secondry:rgb(78, 161, 211);
}
::-webkit-scrollbar{
  display: none;
}

li{
  list-style: none;
}
a{
color: var(--color-primary);
cursor: pointer;
}
a:hover{
  color: var(--color-secondry);
}